
body {
	background-color: #f4f1f1;
}

.topmenu{
	width: 100%;
	height: 100px;
	box-shadow: 0 0 8px 1px;
	background-color: #ffffff;
	position:relative;
    z-index:9999;   
}

.topmenu_basa{
	width: 1284px;
	height: 100px;
	margin:0 auto;
}

.container-fluid {
	background-color: #ffffff;
}

.logoimg{
	height: 90px;
	width: 130px;
	background-image:url("../images/logo3.jpg");
}

.logo {
	width: 250px;
	margin-left:15px;
	margin-top:27px;
}

.logo p {
	font-size: 25px;
	font-family: arial black;
	font-weight: bold;
}

.punkt_menu {
    width: auto;
    margin-top:40px;    
}

.punkt_menu p{
    font-size: 14px;
    font-family: arial black;
    color: #212121;
}

.punkt_menu2 {
    width: auto;
    margin-top:40px;
  }

.punkt_menu2 p{
    font-size: 14px;
    font-family: arial black;
    color: #ff6735;
    text-align: center;
}

.punkt_menu3 {
    width: auto;
    font-family: arial black;
    margin-top:40px;
    text-align: right;
}

.mainbody{
	background-color: #ffffff;
	width: 1284px;
	height: auto;
	margin:0 auto;
}

.contant_main{
	width: 100%;
	height: 500px;
}



.col2{
max-height: 400px;
width: 121%;
margin-left: -101px;
padding-bottom: 0px;
margin-bottom: 0px;	
}

.col3{
max-height: 500px;
width: 100%;
padding-bottom: 0px;
margin-bottom: 0px;		
}

.info{
	margin-top: 128px;
	height: 50%;
	widows: 100%;
}
.info h1{
	font-size: 30px;
    font-family: arial black;
}

.info p{
	font-size: 14px;
    font-family: arial black;
    color: #b6b6b6;
}
.compicon{
margin-top: 50px;
margin-left: 60px;
width: 400px; 
height: 400px;
background: #e1d7d7;
border-radius: 50%;
}

.compicon img{
margin-top: 83px;
margin-left: 37px;
max-width: 325px;
max-height: 335px;
}

.knopka_info{
	margin-top: 30px;
	width:180px;
	height:60px;
	border-radius: 10px;
	box-shadow: 0 0 3px 1px;
	background:linear-gradient(to top,#ea4e1b,#ff6735);
	padding-top: 10px;
}

.knopka_info:hover{
	margin-top: 30px;
	width:180px;
	height:60px;
	border-radius: 10px;
	box-shadow: 0 0 3px 1px;
	background:linear-gradient(to top,#ed5b07,#ff7635);
	padding-top: 10px;
}

.knopka_info a, .knopka_info2 a {
font-size: 27px;
font-family: Arial Bold;
text-decoration: none;
color: #fff6eb;
margin-left: 42px;
}

.blocoficons{
	width: 100%;
	height: 540px;
	background-color: #d92f00;
}
.blockofh2{
	width: 100%;
	height: 160px;
	margin-top: 20px;
	padding-top: 30px;
}

.headname{
	width: 420px;
	height: 100px;
	margin-left: 200px;
	margin:0 auto;
}

.headname h2{
	font-size: 35px;
    font-family: arial black;
    color: #ffffff;
    text-align: center;
}

.krugicon{
	border: 7px solid white;
    height: 144px;
    width: 144px;
    border-radius: 72px;
    margin: 0 auto   
}
.krugicon span{
	margin-top: 29px;
	margin-left: 29px;
	font-size: 70px;
	color: white;
}
 
.texticon{
	height: 50%;
	width: 100%;
	margin-top: 17px;
} 

.texticon p{
	font-size: 14px;
    font-family: arial black;
    color: #ffffff;
    text-align: center;
} 

.blockzakaz{
	width: 100%;
	height: 660px;
	background-color: #ffffff;
}

.headname2 h2{
	margin-top: -10px;
	font-size: 35px;
    font-family: arial black;
    color: #000000;
    text-align: center;

}

.imageblock {
	width: 100%;
	height: 222px;
	border: 3px solid #e9e3db;
}

.imageblock img{
	margin-left: 15px;
    margin-top: 0px;
}

.textzakazblock, .textotzivi{
	width: 100%;
	height: auto;
}

.textzakazblock p{
	text-align: center;
	color: #7c7c7c;
	margin-top: 10px;
	font-family: arial regular;
	font-size: 13px;
}

.textzakazblock h1{
	text-align: center;
	font-size: 20px;
    font-family: arial black;
    color: #212121;
    margin-top: 25px;
}

.knopka_info2{
	margin-top: 30px;
	margin-left: 33px;
	width:180px;
	height:60px;
	border-radius: 10px;
	box-shadow: 0 0 3px 1px;
	background:linear-gradient(to top,#ea4e1b,#ff6735);
	padding-top: 10px;
}

.knopka_info2:hover{
	margin-top: 30px;
	margin-left: 33px;
	width:180px;
	height:60px;
	border-radius: 10px;
	box-shadow: 0 0 3px 1px;
	background:linear-gradient(to top,#ed5b07,#ff7635);
	padding-top: 10px;
}

.blockotzivi{
	width: 100%;
	height: 660px;
	background-image:url("../images/pinkfon.jpg");
}
.textotzivi{
	width: 110%;
	height:auto;
	margin: 7%;
	margin-top: 30px;
	margin-left: -15px;
}

p.speech {
	width: 100%
	height:auto;
	position: relative;
	text-align: left;
	border: 2px solid #e9e3db;
	color: #212121;
	font-family: arial regular;
	font-size: 14px;
	padding: 20px;
}

.blockcommentator{
	margin: 20px;
	height: auto;
}

.faceimage {
   width: 60px;
   height: 60px;
   display: inline-block;
   float: left;
}

.nameoface h2{
	text-align: center;
	font-size: 14px;
    font-family: arial black;
    color: #212121;
    margin-top: 6px;
    padding-top: 5px;
}

.profi{
	
}

.profi p{
	text-align: left;
	color: #7c7c7c;
	font-family: arial regular;
	font-size: 13px;
	margin-left: 5px;
	text-align: center;
}

.blockprivleck{
	width: 100%;
	height: 260px;
	border: 20px solid #d92f00;
}

.blockknopkaprivlek{
	margin-top: 80px;
}

.privlekknopka{
	width:180px;
	height: auto;
	margin:0 auto;
}

.textprivlek{
	margin-top: 80px;
	margin-left: 200px;
	width:500px;
}
.textprivlek h2{
	font-size: 18px;
    font-family: arial black;
    color: #212121
}
.blockrabot{
	width: 100%;
	height: 660px;
	background-color: #ffffff;
}

.headnamerabot h2{
	margin-top: 45px;
	font-size: 35px;
    font-family: arial black;
    color: #000000;
    text-align: center;

}

.imagerabot{
	margin-top: 45px;
	height: auto;
}
.nizimage1{
	margin-top: 8px;
}

.rebotimage{
	width:270px;
	height:255px;
}

.blockpodpiska{
	width: 100%;
	height:auto;
	background-color: #ebe6e6;
}

.headnamepodpiska{
	width: 30%;
	margin: 0 auto;
	height:auto;
}

.headnamepodpiska h2{
	font-size: 22px;
    font-family: arial black;
    padding-top: 45px;
    padding-bottom: 45px;
    color: #000000;
    text-align: center;
}
.blockoform{
	width: 50%;
	margin:0 auto;
	height: auto;
}

.formamemail{
	width: 70%;
}