
body {
	background-color: #f4f1f1;
}

.topmenu{
	width: 100%;
	height: 100px;
	box-shadow: 0 0 8px 1px;
	background-color: #ffffff;
	position:relative;
    z-index:9999;   
}

.topmenu_basa{
	width: 1284px;
	height: 100px;
	margin:0 auto;
}

.container-fluid {
	background-color: #ffffff;
}

.logoimg{
	height: 90px;
	width: 130px;
	background-image:url("../images/logo3.jpg");
}

.logo {
	width: 250px;
	margin-left:15px;
	margin-top:27px;
}

.logo p {
	font-size: 25px;
	font-family: arial black;
	font-weight: bold;
}

.punkt_menu {
    width: auto;
    margin-top:40px;    
}

.punkt_menu p{
    font-size: 14px;
    font-family: arial black;
    color: #212121;
}

.punkt_menu2 {
    width: auto;
    margin-top:40px;
  }

.punkt_menu2 p{
    font-size: 14px;
    font-family: arial black;
    color: #ff6735;
    text-align: center;
}

.punkt_menu3 {
    width: auto;
    font-family: arial black;
    margin-top:40px;
    text-align: right;
}

.mainbody{
	background-color: #ffffff;
	width: 1284px;
	height: auto;
	margin:0 auto;
}

.contant_main{
	width: 100%;
	height: 500px;
}



.col2{
height: 500px;
width: 121%;
margin-left: -101px;	
}

.col3{
height: 500px;
width: 100%;
}

.info{
	margin-top: 128px;
	height: 50%;
	widows: 100%;
}
.info h1{
	font-size: 30px;
    font-family: arial black;
}

.info p{
	font-size: 13px;
    font-family: arial black;
    color: #b6b6b6;
}